<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Including header that we created in partials/head.ejs using BootStrap -->
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
        <% blogs.forEach(blog => { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <a href="/blog<%= blog._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        <% }) %>
    </div>

    <!-- Including script that we created in partials/script.ejs using BootStrap -->
    <%- include('./partials/script') %>
</body>
</html>